<section id="footer" class="bg-white">
  <div class="row p-4 ms-lg-4 me-lg-4 ">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <img class="mb-3" [src]="imagenes.logos.test" alt="" srcset="">
      </div>

      <div class="col-12 col-md-3 mb-3">
        <h5 class="b mb-4">Nuestros productos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Arrendamiento de auto</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Arrendamiento de equipo médico</a>
          </li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Línea de arrendamiento</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-2 mb-3">
        <h5 class="b mb-4">La compañía</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Contáctenos</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Soy cliente</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Únete a nuestro equipo</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4  mb-3">
        <form>
          <h5 class="b mb-4">Recibe nuestras promociones</h5>
          <div class="float-container d-flex flex-row" style="padding-right: 0;">
            <input class="w-10" id="newsletter1" type="text" class="float-input"
              placeholder="Ingresa tu correo electrónico">
            <button class="btn btn-primary text-white"
              style="background-color: black; border: 1px solid black; border-radius: 0; width: 50px;" type="button">
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-end py-4 my-4 border-top">
      <div class="list-unstyled d-flex">
        <img style="margin-left: 10px;" [src]="imagenes.logos.linkedin" alt="" srcset="">
        <img style="margin-left: 10px;" [src]="imagenes.logos.fb" alt="" srcset="">
        <img style="margin-left: 10px;" [src]="imagenes.logos.tw" alt="" srcset="">
      </div>
    </div>
  </div>
</section>